body {
  box-sizing: border-box;
  height: 100vh;
  margin: 0;
  border: 0;
}

header {
  background-color: #67438f;
  font-family: "Poppins", sans-serif;
  height: 254px;
}
header h1 {
  position: rela